body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #f9f9f9 !important;
}


body h1 {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.2;   
  color: #1e1e1e;
  letter-spacing: 3px;
}

body p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 400px;
    color: #1e1e1e;
}

body a{
  text-decoration: none;
  color: #3c3c3c;
}

/* navbar */
.nav-link {
  margin-right: 20px;
  position: relative;
}

.nav-link:hover {
  color: #6344C5 !important;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.3s ease-in-out;
  height: 2px;
  background-color: #6344C5;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.nav-link:hover::after {
  opacity: 1;
}

.hero-section {
  color: #fff;
  background: linear-gradient(to bottom, rgb(223 223 223 / 31%), rgb(255 255 255 / 59%)), url(../img/bg.svg);
  background-position: center;
  height: 100vh;
  min-height: 26rem;
  max-height: 34rem;
  position: relative;
}


.hero-heading{
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 154px;
  color: #000;
}



.hero-para {
  color: #333;
  font-size: 1rem;
  width: 100%;
  line-height: 1.6;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
    
}
  


.hero-section a {
  text-decoration: none;
}

.button {
  border-radius: 8px;
  background-color: #6344C5;
  border: none;
  color: #fdfdfd;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  width: 235px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  align-items: center;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.about{
  margin-top: 19rem;
}

.about h1 {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #1e1e1e;
  margin-bottom: 8rem;
  letter-spacing: 2px;
}

.abt-section p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: 400px;
  color: #1e1e1e;
}

.abt-section h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #1e1e1e;
  margin-bottom: 1rem;
}

.abt-section span {
  border-bottom: #6344C5 0.2rem solid;
}

#skills {
  padding-top: 5rem;
}

.badge {
  background-color: #6344C5;
  min-width: 60px;
  margin-right: 7px;
  margin-bottom: 7px;
}



/* EDUCATION */


.edu-section{
  margin-top: 16rem;
  background-color: rgb(124, 74, 194);
}


.edu-section >  h1{
  color: white;
  margin-bottom: 6rem;
}

.certs{
  margin-bottom: 5rem;
}






.certs > div {
  margin-bottom: 5rem;
  margin-left: 3.5rem;
}












/* For sm Screens */
@media screen and (min-width: 576px) {
  body h1{
    font-size: 3rem;
    letter-spacing: 2px;
  }
  body p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    max-width: 550px;
    min-width: 500px;
    color: #1e1e1e;
  
  }

  .hero-para {
    color: #333;
    font-size: 1rem;
    width: 100%;
    line-height: 1.6;
    padding-top: 18px;
    
    } 
    .about h1{
      font-size: 3rem;
      letter-spacing: 7px;
    }


  
  .abt-section p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    max-width: 550px;
    min-width: 500px;
    color: #1e1e1e;
  
  }
  
  #skills{
    padding-top: 5rem;
  }






  .certs > div {
    margin-bottom: 5rem;
    margin-right: 2rem;
  }
  

  





}

/* For md Screens */
@media screen and (min-width: 768px) {
  body p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; 
    max-width: 540px;
    color: #1e1e1e;
  
  }




  .hero-heading{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 154px;
    color: #000;
  }
  
  
  
  .hero-para{
    color: #333;
    font-size: 1.2rem;
    width: 100%;
    line-height: 1.6;
    padding-top: 18px;
    
    max-width: 60rem;
  }
  

  .abt-section p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; 
    max-width: 540px;
    color: #1e1e1e;
  
  }

  #skills {
    padding-top: 4rem;
   
  }
}


.certs > div {
  margin-bottom: 5rem;
  margin-right: 2rem;
}



/* For lg & xl Screens */
@media screen and (min-width: 992px) {
  body p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 400px;
    color: #1e1e1e;
  
  }




  .hero-heading{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 154px;
    color: #000;
  }

  .hero-para{
    color: #333;
    font-size: 1.2rem;
    width: 100%;
    line-height: 1.6;
    padding-top: 18px;
    
    max-width: 60rem;
  }

  .abt-section p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 400px;
    color: #1e1e1e;

  }

  #skills {
    padding-top: 0px;
    padding-left: 65px
  }


  .certs > div {
    margin-bottom: 5rem;
    margin-right: 2rem;
  }
  

}